body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.story-page {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.story-slide {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    scroll-snap-align: start;
}

/* .horizontal-scroll {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.horizontal-scroll > * {
    scroll-snap-align: start;
} */
