/* main.css */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page {
  background-color: #3B44F6;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading-1 {
  color: white;
  font-family: 'Skywalks', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

.heading-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-2 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 40px;
  line-height: 1.5;
}

.heading-3 {
  color: white;
  font-family: 'Skywalks', sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 2px;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.child {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.left-child {
  flex-direction: row;
}

.right-child {
  flex-direction: row-reverse;
}

.image-div {
  overflow: hidden;
  height: 250px;
  width: 125px;
}

.image {
  height: 250px;
  width: 125px;
  object-fit: cover;
}

.left-image-div {
  border-radius: 99999px 0 0 99999px;
}

.right-image-div {
  border-radius: 0 99999px 99999px 0;
}

.content-div {
  height: 200px;
  width: 100px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.left-content-div {
  border-radius: 0 99999px 99999px 0;
}

.right-content-div {
  border-radius: 99999px 0 0 99999px;
}

.content {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  word-wrap: break-word;
  text-align: center;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .heading-1 {
    font-size: 20px;
  }

  .heading-2 {
    font-size: 24px;
  }

  .heading-3 {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .child {
    margin: 10px 0;
  }

  /* .image-div, .image {
    height: 150px;
    width: 75px;
  }

  .content-div {
    height: 100px;
    width: 50px;
  } */
}
