

.about-div{
    background-image: url('../Component1/assets/heading.jpeg');
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content{
    padding: 20px;
font-size: 3rem;
background-color: #262626;
color: white;
font-family: 'Skywalks';
letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
    .about-div{
        height: 40vh;
    }


    .about-content{
        font-size: 32px;
        padding: 10px;
    }
   

    
}


