.values-Component3-div{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(253, 219, 96, 0.60);
    
}

.values-Component3-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px ;
}

.values-Component3-content-left{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
   
}

.values-Component3-left-1{
    color: #2F2F2F;
    font-family: Skywalks;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.values-Component3-left-2{
        color: #2F2F2F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        
}

.values-Component3-content-right{
    width: 40%;
}



@media screen and (max-width:1024px) {
    .values-Component3-content{
        flex-direction: column-reverse;
    }

    .values-Component3-content-right{
        width: 80%;
    }
    .values-Component3-left-2{
        font-size: 14px;
      
    }

    .values-Component3-left-1{
        font-size: 2.4rem;
        margin-bottom: 10px;
    }

    .values-Component3-div{
        min-height: 0;
        height: auto;
        padding: 20px 0;

     }
 
    
    

}