.team-member-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8e473;
  height: 100%;
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
}

.left-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-pic {
  width: 100%;
  transition: width 0.5s ease;
  border-radius: 10px;
}

.name-role {
  margin-top: 20px;
}

.name-role h2 {
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Skywalks';
  font-weight: 400;
  transition: color 0.5s ease;
}

.name-role h3 {
  margin: 0;
  font-size: 18px;
  font-family: 'Lato';
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .team-member-card {
    padding: 10px;
  }

  .name-role h2 {
    font-size: 1.8rem;
  }

  .name-role h3 {
    font-size: 16px;
  }
}
