.team-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  /* min-height: 100vh; */
  background-color: #f8e473;
  transition: background-color 0.5s ease;
}

.intro-section {
  width: 100%;
  background-color: white;
  color: #262626;
  padding: 20px;
  text-align: center;
  margin-top: 8vh;
}

.team-title {
  font-family: 'Skywalks';
  font-size: 3rem;
  /* margin: 0 0 20px 0; */
}

.team-description {
  font-family: 'Lato';
  font-size: 18px;
  margin: 0;
  text-align: left;
  padding: 16px;
}

.team-grid {
  display: grid;
  row-gap: 60px;
  column-gap: 30px;
  padding: 40px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.modal-content-wrapper {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.5s ease;
  z-index: 1001;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media screen and (max-width: 767px) {
  .team-grid {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .team-description {
    font-size: 14px;

  }
}
