.values-Component4-div{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #FFF;
}

.values-Component4-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.values-Component4-content-left{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
   
}

.values-Component4-left-1{
    color: #2F2F2F;
    font-family: Skywalks;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.values-Component4-left-2{
        color: #2F2F2F;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        
        /* 175% */
}

.values-Component4-content-right{
    width: 40%;
}



@media screen and (max-width:1024px) {
    .values-Component4-content{
        flex-direction: column-reverse;
    }

    .values-Component4-left-1{
        font-size: 2.4rem;
        margin-bottom: 10px;
        
    }
    .values-Component4-left-2{
        font-size: 14px;
       
    }
    .values-Component4-content-right{
        width: 80%;
    }
   
    .values-Component4-div{
       min-height: 0;
       height: auto;
       padding: 20px 0;

    }


}