        
        
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home-Component7-div{
    background-color: white;
    /* max-height: 100vh; */
}

.home-Component7-heading{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    gap: 10px;
    padding: 60px 0 40px 0;
    
}

.home-Component7-text1{
color: var(--black, #262626);
font-family: 'Lato';
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
align-self: center;
}

.home-Component7-text2{
    color: var(--black, #262626);
font-family: 'Skywalks';
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
align-self: center;
}

.home-Component7-img{
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 16/9;
}

@media screen and (max-width:1024px) {
    .home-Component7-div{
        background-color: white;
    }
}

@media screen and (min-width:440px) and (max-width:768px) {
    .home-Component7-text1{
        font-size: 34px;
    }
    .home-Component7-text2{
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width:768px) {
    .home-Component7-img{
        height: 250px;
    }
}